@{
    ViewData["Title"] = "Lastik Arama Sistemi";
    Layout = "_Layout";
}

<div class="container welcome">
    <h1>Hoş geldiniz!</h1>
    <p>Menüden SizeVariant, Brand Search veya Vehicle Groups bölümlerine göz atabilirsiniz.</p>
</div>